body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
img {
  display:block;
  margin: 0 auto;
}
nav {
  text-align: center; /* Centers the links horizontally */
  padding: 10px; /* Optional padding for the navbar itself */
  background-color: #f0f0f0; /* Optional: Light gray background for the navbar */
}

nav a {
  display: inline-block; 
  padding: 10px;
  margin: 0 5px; 
  background-color: lightgray; 
  border-radius: 5px; 
  
}

nav a:hover {
  background-color: #ddd; 
  color: black; 
}
figcaption {
  font-size:0.9em;
  text-align: center;
  margin-top: 10px;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: 1em auto;
}
#details div{
  float:left;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  border: 1px ;
  border-radius: 5px;
  box-sizing: border-box;
  width:25%;
}
#details {
  overflow: hidden; 
  padding: 20px;
  background-color: #d11111;
  display: flex; 
  justify-content: space-around;
}
#details div{
  float:none;
  width:100%;
  margin: 10px 0;
}

